#login-form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.registeration {
    width: 30%;
    display: flex;
    margin: auto;
}

.registeration {
    background-color: aquamarine;
}

.registeration #login {
    margin-bottom: 15rem;
    
}